table {
  align-self: center;
  width: 50%;
  margin: 5px;
}

.tableHeader {
  border: 2px solid black;
  font-size: 2em;
}

.tableCell {
  position: relative;
  border: 2px solid black;
  width: 33.33%;
  text-align: center;
  height: 150px;
  overflow: hidden;
  font-size: 2em;
  line-height: 1;
}

.tableBorder {
  border: 5px solid black;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}