table {
	align-self: center;
	width: 50%;
	margin: 5px;
}

.regularTable {
	border-radius: 50px;
	background-color: cyan;
	border-spacing: 0;
	border-collapse: separate;
	overflow: hidden;
}

.gameTable {
	border: 1px solid gray;
}

.historyGameTable {
	border: 1px solid black;
}

.gameTable th:not(:last-child),
.gameTable td:not(:last-child) {
	border-right: 1px solid gray;
}

.historyGameTable th:not(:last-child),
.historyGameTable td:not(:last-child) {
	border-right: 1px solid black;
}

.gameTable > thead > tr:not(:last-child) > th,
.gameTable > thead > tr:not(:last-child) > td,
.gameTable > tbody > tr:not(:last-child) > th,
.gameTable > tbody > tr:not(:last-child) > td,
.gameTable > tfoot > tr:not(:last-child) > th,
.gameTable > tfoot > tr:not(:last-child) > td,
.gameTable > tr:not(:last-child) > td,
.gameTable > tr:not(:last-child) > th,
.gameTable > thead:not(:last-child),
.gameTable > tbody:not(:last-child),
.gameTable > tfoot:not(:last-child) {
	border-bottom: 1px solid gray;
}

.historyGameTable > thead > tr:not(:last-child) > th,
.historyGameTable > thead > tr:not(:last-child) > td,
.historyGameTable > tbody > tr:not(:last-child) > th,
.historyGameTable > tbody > tr:not(:last-child) > td,
.historyGameTable > tfoot > tr:not(:last-child) > th,
.historyGameTable > tfoot > tr:not(:last-child) > td,
.historyGameTable > tr:not(:last-child) > td,
.historyGameTable > tr:not(:last-child) > th,
.historyGameTable > thead:not(:last-child),
.historyGameTable > tbody:not(:last-child),
.historyGameTable > tfoot:not(:last-child) {
	border-bottom: 1px solid black;
}
